<section class="general-about">
	<div class="row team-header">
		<div class="columns">
			<h1 class="text-center">The Particl team</h1>
		</div>
	</div>
	<div class="row team-desc">
		<div class="part large-offset-2 large-4 columns">
			<p class="large">
				The Particl project is lead by a sizeable team of developers, managers, designers, researchers, cryptographers and a treasurer. 
			</p>
		</div>

		<div class="part large-4 columns">
			<p class="large">
				The project can also count on the help of its advisors, including some renowned names such as Charlie Shrem, Miguel Cuneta, John Bailon and Micah Spruill.
			</p>
		</div>
	</div>
</section>

<hr />

<section id="team" class="general-about">
	<div class="row">
		<div class="column">

			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/ryno.jpg" alt="Ryno Mathee">
					</div>
					<h4 class="name">Ryno Mathee</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: rynomster"><i class="ico ico-chat"></i></span>
						<a href="https://reddit.com/u/rynomster" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/rynomster" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/rmathee" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/rynomster" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Lead &amp; Core Developer</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/gerlof.jpg" alt="Gerlof van Ek">
					</div>
					<h4 class="name">Gerlof van Ek</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: crz"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;gerlof&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://twitter.com/gerlof" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://github.com/gerlofvanek" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Lead Designer &amp; Branding, UI/UX, Developer</span>
				</li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/henk.jpg" alt="Henk Swardt">
          </div>
          <h4 class="name">Henk Swardt</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: Pinnocio"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;henk&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://www.linkedin.com/in/hswardt/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
          </div>
          <span class="title">Developer Manager, CSM</span>
        </li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/nick.jpg" alt="Nick Sy">
          </div>
          <h4 class="name">Nick Sy</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: umbrah"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;nick&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://reddit.com/u/infernotower" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
            <a href="https://www.linkedin.com/in/nick-sy-48a98631/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
          </div>
          <span class="title">Treasurer</span>
        </li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/paul.jpg" alt="Paul Schmitzer">
          </div>
          <h4 class="name">Paul Schmitzer</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: litebit"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;paul&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://reddit.com/u/sexystick" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
            <a href="https://twitter.com/litebitco" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
            <a href="https://www.linkedin.com/in/paulschmitzer" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
            <a href="https://github.com/litebit" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
          </div>
          <span class="title">Communications</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/viv.jpg" alt="Vivienne Heine">
					</div>
					<h4 class="name">Vivienne Heine</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: viv"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;viv&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://www.linkedin.com/in/vivienne-heine-486680145/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Scrum Master / Project Manager</span>
				</li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/christina.jpeg" alt="Christina Migneault-Khoury">
          </div>
          <h4 class="name">Christina Migneault-Khoury</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: cryptina"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;christina&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
          </div>
          <span class="title">Social Media Coordinator</span>
        </li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/juha.jpg" alt="Ludx">
          </div>
          <h4 class="name">Juha Kovanen</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: ludx"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;juha&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://reddit.com/u/ludx" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
            <a href="https://twitter.com/ludx" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
            <a href="https://linkedin.com/in/juhakovanen" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
            <a href="https://github.com/xludx" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
          </div>
          <span class="title">Developer</span>
        </li><!-- .team-member -->

        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/shazzy.jpg" alt="Shazzy">
          </div>
          <h4 class="name">Shazzy</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: dasource"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;shazzy&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://github.com/dasource" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
          </div>
          <span class="title">Research &amp; Development</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/arnold.jpg" alt="Arnold">
          </div>
          <h4 class="name">Arnold Bansemer</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: abansemer"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;arnold&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://twitter.com/zasmilingidiot" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
            <a href="https://github.com/zaSmilingIdiot" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
          </div>
          <span class="title">Developer</span>
        </li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/allien.jpg" alt="Martin Allien">
					</div>
					<h4 class="name">Martin Allien</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: allien"><i class="ico ico-chat"></i></span>
						<a href="https://twitter.com/allienworks" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://github.com/allienworks" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">UI/UX, Front-end Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/jason.jpg" alt="EagleEye25">
					</div>
					<h4 class="name">Jason Eybers</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: EagleEye25"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/EagleEye25" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/lachlan.jpg" alt="Lachlan Kang">
					</div>
					<h4 class="name">Lachlan Kang</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: cryptocube"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#117;&#098;&#101;&#064;&#098;&#114;&#111;&#119;&#115;&#101;&#114;&#112;&#114;&#105;&#110;&#116;&#046;&#105;&#110;&#102;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://www.linkedin.com/in/lachlan-k/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/CryptoCubik" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
        </li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/carmen.jpg" alt="Carmen Pozyn">
					</div>
					<h4 class="name">Carmen Pozyn</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: carmen"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;carmen&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://www.reddit.com/user/Cpozyn" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
            <a href="https://twitter.com/Carmen18287570" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://www.linkedin.com/in/carmen-pozyn-484904117/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Product Owner</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="Tecnovert">
					</div>
					<h4 class="name">Tecnovert</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: tecnovert"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/tecnovert" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Core Developer &amp; Cryptographic Researcher</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="Imran">
					</div>
					<h4 class="name">Imran</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: imyb"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;imran&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
					</div>
					<span class="title">Commercial &amp; Partner Strategy</span>
        </li><!-- .team-member -->
        
        <li class="team-member">
          <div class="photo">
            <img src="/assets/img/team/blank-avatar.png" alt="CryptoGuard">
          </div>
          <h4 class="name">CryptoGuard</h4>
          <div class="links">
            <span class="link nick" title="Slack/Riot/Forum handle: cryptoguard"><i class="ico ico-chat"></i></span>
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;cryptoguard&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
            <a href="https://twitter.com/crypt0guard" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
            <a href="https://www.reddit.com/user/CryptoGuard" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
            <a href="https://github.com/cryptoguard" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
          </div>
          <span class="title">Lead Community Manager</span>
        </li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="Ido Kaiser">
					</div>
					<h4 class="name">Ido Kaiser</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: kewde"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;kewde&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://reddit.com/u/kewde" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://github.com/kewde" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer &amp; Software Architect</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="lazaruscrypto">
					</div>
					<h4 class="name">Lazaruscrypto</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: lazaruscrypto"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/lazaruscrypto" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="vikas-cis">
					</div>
					<h4 class="name">Vikas</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: vikas-cis"><i class="ico ico-chat"></i></span>
						<a href="https://github.com/vikas-cis" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/blank-avatar.png" alt="Shubham">
					</div>
					<h4 class="name">Shubham</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: cryptocube"><i class="ico ico-chat"></i></span>
						<a href="mailto:cube@cubik.tech" class="link email" title="Email"><i class="ico ico-email"></i></a>
						<a href="https://www.linkedin.com/in/lachlan-k/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
						<a href="https://github.com/CryptoCubik" class="link github" title="GitHub"><i class="ico ico-github"></i></a>
					</div>
					<span class="title">Developer</span>
				</li><!-- .team-member -->
			</ul>
			<hr>
			<h3>Particl Advisors</h3>

			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/charlie.png" alt="Charlie Shrem">
					</div>
					<h4 class="name">Charlie Shrem</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/charlieshrem/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Strategic Advisor &amp; Mentor &ndash; Founder, CryptoIQ</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/micah.jpg" alt="Micah Spruill">
					</div>
					<h4 class="name">Micah Spruill</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Micah"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;micah&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://reddit.com/u/Micah_s" class="link reddit" title="Reddit"><i class="ico ico-reddit-alt"></i></a>
						<a href="https://twitter.com/micahspruill" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/micahspruill" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Business &amp; Finance &ndash; Managing Partner, Aurora Investment Advisors</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/miguel.jpg" alt="Miguel Cuneta">
					</div>
					<h4 class="name">Miguel Cuneta</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/miguel-cuneta-a335b093/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Crypto Ecosystem &amp; Adoption &ndash; Co-Founder and CCO at Satoshi Citadel Industries</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/john.jpg" alt="John Bailon">
					</div>
					<h4 class="name">John Bailon</h4>
					<div class="links">
						<a href="https://www.linkedin.com/in/johnbailon/" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Crypto Ecosystem &amp; Adoption &ndash; Co-Founder and CEO at Satoshi Citadel Industries</span>
				</li><!-- .team-member -->
				
				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/yann.jpg" alt="Yann Alleman">
					</div>
					<h4 class="name">Yann Alleman</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: synergy"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;yann&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
						<a href="https://twitter.com/yallemann3" class="link twitter" title="Twitter"><i class="ico ico-twitter"></i></a>
						<a href="https://linkedin.com/in/yann-allemann-330bb727" class="link linkedin" title="LinkedIn"><i class="ico ico-linkedin"></i></a>
					</div>
					<span class="title">Business &amp; PR &ndash; Engineer, Ferrari A.G.</span>
				</li><!-- .team-member -->

				<li class="team-member">
					<div class="photo">
						<img src="/assets/img/team/joe.jpg" alt="Svojoe">
					</div>
					<h4 class="name">Joe Fisher</h4>
					<div class="links">
						<span class="link nick" title="Slack/Riot/Forum handle: Svojoe"><i class="ico ico-chat"></i></span>
						<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;joe&#64;&#112;&#97;&#114;&#116;&#105;&#99;&#108;&#46;&#105;&#111;" class="link email" title="Email"><i class="ico ico-_email"></i></a>
					</div>
					<span class="title">E-Commerce Strategy &ndash; Private label online seller, Product Developer</span>
				</li><!-- .team-member -->
			</ul>

		</div>
	</div>
</section><!-- #team -->

<hr />

<section class="locate general-about">
	<div class="row">
		<div class="columns">
			<h1 class="text-center">Located around the globe and growing</h1>
		</div>
	</div>
	<div class="row locate-desc">
		<div class="part large-offset-2 large-4 columns">
			<p class="large">
				Across the world, teams at Particl come together with a shared purpose. Our mission is to foster a new decentralized,
			</p>
		</div>
		<div class="part large-4 columns">
			<p class="large">
				private and democratic economy supported by its platform and native currency. Join us and do the best work of your life.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="columns text-center">
			<a href="/careers" class="button center btn-explore">Explore Careers at Particl</a>
		</div>
	</div>
</section>